.bg-thumb{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.bg-thumb-cover{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.product-grid .card:hover .product-card-img,
.product-grid .card:focus .product-card-img{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.footer-section4 .social-link a {
    width: 40px;
    height: 40px;
    color: #212529;
    background-color: rgb(255 255 255 / 0%);
    border: 1px solid #212529;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.footer-section4 .social-link a:hover {
    color: #ffffff;
    background-color: #212529;
  }

  .footer-section4 .social-link a i {
        font-size: 21px;
        margin-top: 2px;
  }



.cursor-pointer{
    cursor: pointer;
}

.w-90 {
    width: 90% !important;
}
::-webkit-scrollbar {   width: 7px;  }
/* Track */
::-webkit-scrollbar-track {   background: #e9e9e9;  }  
/* Handle */
::-webkit-scrollbar-thumb {   background: #565555;  }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {    background: #404040;  }

.v-toast__item .v-toast__text{ padding:10px 20px !important}
.v-toast__item { min-height: 3em !important; }

.bg-yellow {
    background: #fecd07;
    border-color: #fecd07;
}
.text-yellow {
    color : #fecd07;
}

.f-carousel__dot {
    --f-carousel-dot-color: #fecd07;
}

.logo-icon-gif {  width:  21% !important; }
@media (max-width: 576px) { 
    .logo-icon-gif {  width:  70% !important }
    .page-content-margin-top{
            margin-top:250px !important;
    }
 }

.btn-check:focus+.btn, .btn:focus { 
    box-shadow:  unset !important;
}

.page-content-margin-top{
                        margin-top:198px
}

.table-responsive table th,
.table-responsive table td{
    /*use this property to disbale soft wrap*/
    white-space: nowrap;
    /*To make extra certain,add this css property*/
    word-break: keep-all;
}